/*
 *  Copyright 2024, TeamDev. All rights reserved.
 *
 *  Redistribution and use in source and/or binary forms, with or without
 *  modification, must retain the above copyright notice and the following
 *  disclaimer.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --md-sys-color-primary: #4769a2;
    --md-ref-typeface-brand: 'Lato';
    --md-ref-typeface-plain: 'Lato';

    --md-primary-tab-label-text-color: gray;
    --md-primary-tab-container-color: #ffffff;

    --md-list-container-color: #ffffff;
    --md-list-item-label-text-color: #4769a2;
    --md-list-item-supporting-text-color: #5b5b5b;
    --md-list-item-one-line-container-height: 50px;
}

label {
    font-family: var(--md-ref-typeface-plain);
    font-size: 14px;
    color: var(--md-list-item-label-text-color);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

    color: #4769a2;
}

#tabs {
    width: 30%;
}

#datasets {
    display: flex;
    flex-direction: column;
}

.tab-content {
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
}

.left-panel {
    flex: 1;
}

.info-container {
    max-height: 90%;
    overflow: auto;
}

.info-container::-webkit-scrollbar {
    width: 4px;
    visibility: hidden;
}

.info-container:hover::-webkit-scrollbar {
    visibility: visible;
}

.info-container:hover::-webkit-scrollbar-thumb {
    background: gray;
}

.info-container:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataset-description {
    font-family: var(--md-ref-typeface-plain);
    font-size: 14px;
    color: var(--md-list-item-supporting-text-color);
}

.row-count-value {
    color: var(--md-list-item-supporting-text-color);
}

.column-title {
    --md-list-item-bottom-space: 0px;
    --md-list-item-trailing-space: 0px;
    --md-list-item-top-space: 0px;
    --md-list-item-one-line-container-height: 35px;
}

.export-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.canvas-container {
    flex: 4;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-canvas {
    flex: 4;
    max-width: 75%;
    max-height: 100%;
    margin-right: 10px;
}

.controls-container {
    flex: 1;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

.controls-select {
    margin-bottom: 10px;
}

.controls-label {
    display: flex;
    align-items: center;
    --md-list-item-label-text-color: #1d1b20;
}

.controls-checkbox {
    margin-right: 10px;
    margin-left: 0;
}

.controls-slider {
    margin-left: -10px;
    z-index: 1;
}
